*,*:focus,*:hover{
    outline:none;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0px;
}

#color-name {
  margin-bottom: 10px;
}

#color-preview-hex {
  background-color: #333;
  bottom: 0;
  color: #fff;
  position: relative;
  text-align: center;
}

#imgbox {
  background-color: #333;
  height: 90vh;
  width: 100%;
}
#imgbox > canvas {
  background-color: #333;
  display: block;
  padding: 0px;
}

#palette-container {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  margin: 10px 0 0 0;
  overflow-y: scroll;
  padding-bottom: 5px;
  width: 100%;
}
#palette-container > div {
  border: 1px solid #333;
  border-radius: 8px;
  height: 40px;
  margin: 5px 5px 0 5px;
}
#palette-container > div:before {
  content: "";
  float: left;
  padding-top: 100%;
}

#palette-dropdown {
  margin-bottom: 10px;
}

#toolbar-right {
  align-items: stretch;
  background-image: url("img/bg_tile.png");
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  max-height: calc(90vh - 20px); /* Account for margins*/
  padding: 10px 10px 10px 10px;
}
#toolbar-right img {
  display: block;
  margin: 0px;
  max-height: 89vh;
  opacity: 1.0;
  width: 100%;
}
#toolbar-right > div {
  background-color: #2a2f30;
  width: 100%;
}
#toolbar-right > input {
  width: 100%;
}
#toolbar-right > label {
  margin-top: 10px;
}

#toolbar-top {
  align-items: stretch;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  height: 10vh;
  padding: 0 5px;
}
#toolbar-top > button {
  align-self: center;
  height: 4vh;
  margin: 0 5px;
  position: relative;
}

#toolbar-top > h2 {
  flex-grow: 1;
  margin: 0 0 0 -10vw;
  pointer-events: none;
  text-align: center;
}
#toolbar-top > h2 > span {
  display: inline-block;
  font-size: xx-large;
  line-height: 10vh;
  vertical-align: middle;
}

.btn {
  box-shadow: inset 0px 1px #fce2c1;
  background: linear-gradient(to bottom, #ffa291 5%, #f55d42 100%);
  background-color: #ffa291;
  border-radius: 6px;
  border: 1px solid #e3644d;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc6852;
}
.btn:hover {
  background: linear-gradient(to bottom, #f55d42 5%, #ffa291 100%);
  background-color: #f55d42;
}
.btn:active {
  position: relative;
  top: 1px;
}
.btn > img {
  position: relative;
  top: -4px;
}
.btn-active {
  box-shadow: none;
  background: #ff5030;
  background-color: #ff5030;
  border: 1px solid #7a2c1d;
  color: #000;
  text-shadow: none;
}
.btn-active > img {
  top: -5px;
}

.btn-tooltip:hover .tooltip {
  visibility: visible;
}

.grid-container {
  display: grid;
  grid-template-columns: 9fr minmax(50px, 1fr);
  background-color: #2196F3;
  padding: 0px;
  width: 100%;
}

.slider-container {
  color: #fff;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}
.slider {
  margin: 5px 5%;
  width: 90%;
}

.tooltip {
  background-color: #222;
  border-radius: 6px;
  color: #fff;
  left: 110%;
  padding: 5px 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top: 5px;
  visibility: hidden;
  width: 120px;
  z-index: 1;
}
.tooltip::after {
  border-color: transparent #222 transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: "";
  margin-top: -5px;
  position: absolute;
  right: 100%;
  top: 50%;
}