@font-face {
  font-family: harlow;
  src: url("fonts/HARLOW.ttf");
}

/* ELEMENTS */

*,*:focus,*:hover{
    outline:none;
}

body, html {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/* TITLE BAR */
#title {
  background-color: #2d2d2d;
  border-bottom: 2px solid #f55d42;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 60px 60px 120px auto 120px;
  grid-template-rows: 25px 25px;
  padding: 10px;
}
#title > h1 {
  color: white;
  font-family: harlow;
  font-size: xxx-large;
  height: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

/* TOOLBAR */

#toolbar {
  background-color: #2d2d2d;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 130px;
  grid-template-rows: 130px 40px 25px 130px auto 60px;
  height: calc(100vh - 100px);
  padding: 10px;
  width: 130px;
}

#palette-preview {
  overflow-y: scroll;
}
#palette-preview > div {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 40px;
}
#palette-preview .palette-color-label {
  background-color: #00000055;
  border-radius: 4px;
  color: #e7e8eb;
  display: inline-block;
  font-size: x-small;
  padding: 0 2px;
}

  /* SLIDER BOX */

  #slider-box {
    display: grid;
    grid-template-columns: 3em auto;
    grid-template-rows: repeat(6, auto);
    padding: 5px;
    width: 120px;
  }
  #slider-box > label {
    text-align: center;
  }

#save-btns {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  margin-bottom: 10px;
}

/* CANVAS */

#imgbox {
  height: calc(100vh - 82px);
  left: 150px;
  overflow: scroll;
  position: absolute;
  top: 82px;
  width: calc(100vw - 150px);
}

/* CLASSES */

.gray-border {
  border: 1px solid #697075;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: #d3d3d3;
  height: 5px;
  outline: none;
  width: 100px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
}